body, html {
    background-color: #575757c2;
}

body {
    font-size: 2rem;
    line-height: 40px;
}

@media screen and (max-width: 1500px) {

    body {
        line-height: 40px;
    }
}

@media screen and (max-width: 1300px) {

    body {
        font-size: 1.7rem;
        line-height: 35px;
    }
}

@media screen and (max-width: 980px) {
    .content {
        padding: 2em;
    }

    body {
        font-size: 1.5rem;
        line-height: 30px;
    }
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 20px;
}

.navbar , footer{
    background-color: #333333;
    margin: 0;
    padding-left: 1em;
}

.navbar-brand {
    font-size: 1em;
}

.navbar a, .nav a {
    color: white;
}

.navbar a:hover, .nav a:hover {
    color: black;
}

.sidebar .active {
    background-color: #929292;
    color: black;
}

.sidebar a {
    line-height: 2.5rem;
}

main {
    background-color: white;
}

.row main, .sidebar {
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    height: 30em;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(""); */
}

.jumbotron h1, h3 {
    position: relative;
    top: 40%
}

.jumbotron h3 {
    padding-left: 10px;
    font-style: italic;
}

.content {
    padding: 2em 10em 2em 3em;
}

.content p:last-child {
    padding-bottom: 2em;
}

footer {
    color: white;
}