body, html {
    background-color: #575757c2;
}

body {
    font-size: 2rem;
    line-height: 35px;
}

@media screen and (min-width: 1201px) {
    body {
        font-size: 1.7rem;
        line-height: 30px;
    }

    .content {
        padding: 2em 10em 2em 3em;
    }

    .card {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 2em;
    }

    .card {
        width: 100%;
    }

    body {
        font-size: 1.5rem;
        line-height: 25px;
    }
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 20px;
    margin-top: 40px;
}

.card h2 {
    margin-bottom: 5px;
} 

.navbar , footer{
    background-color: #333333;
    margin: 0;
    padding-left: 15px;
}

.navbar a, .nav a {
    color: white;
}

.navbar a:hover, 
.navbar a:active,
.nav a:hover {
    color: black;
}

.sidebar .active {
    background-color: #929292;
    color: black;
}

.sidebar a {
    line-height: 2.5rem;
}

main {
    background-color: white;
    padding-bottom: 2em;
}

.row main, .sidebar {
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    height: 30em;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(""); */
}

.jumbotron h1, h3 {
    position: relative;
    top: 40%
}

.jumbotron h3 {
    padding-left: 10px;
    font-style: italic;
}

footer {
    color: white;
    padding: 10px;
}

.blockquote-footer{
    background-color: initial;
}

.btn .fa-github {
    font-size: 2rem;
}

.card-text {
    padding-top: 20px;
}

.card-subtitle {
    padding-bottom: 20px;
}

img, video {
    height: auto;
    max-width: 100%;
    padding-bottom: 1em;
}

video {
    min-width: 60%;
}

figure {
    margin-bottom: 40px;
}

.card {
    margin-bottom: 5em;
}

.badge {
    font-size: 1.2rem;
}

.card blockquote {
    font-family: "Lucida Console";
}

p {
    margin-bottom: 1.5em;
}

.alert {
    margin-bottom: 40px;
}